export AWS_PROFILE=darkphoton
export AWS_REGION=us-east-1
#DYNAMODB_ENDPOINT=dynamodb.us-east-1.amazonaws.com
export DYNAMODB_ENDPOINT=http://dynamodb.home:8000
#GITHUB_TOKEN=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
#GITHUB_TOKEN=d86b496500877000a43bb53141818981e30edebc
