engine-strict=true
# packaging
@darkphotonconsulting:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
# fontawesome professional
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=953584FC-05B4-484F-B71A-FED74D6580D4
