@font-face {
    font-family: 'Nasalization';
    src: local('Nasalization') url('./nasalization_regular.otf') format('opentype') tech(variations);
}

.controlbar-ibutton {
    overflow: hidden;
}

@media screen and (min-width: 300px) {
    .control-bar {
        opacity: 1;
    }
}
@media screen and (max-width: 300px) {
    .control-bar {
        opacity: 0;
    }
}