.controlbar-ibutton {
    overflow: hidden;
}

@media screen and (min-width: 1024px) {
    .control-bar {
        opacity: 1;
    }
}
@media screen and (max-width: 1024px) {
    .control-bar {
        opacity: 0;
    }
}